##### 1. Install Jupyter notebook and run the first program and share the screenshot of the output.

In [1]:
#### Ans: Jupyter notebook has been diabled by my company. Hence, I am using a cloud-based Jupyter notebook - Microsoft Azure Notebook

##### 2. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [2]:
def divisible_7(a, b):
    m = []
    n = range(a, b)
    for i in n:
        if i % 7 == 0 and i % 5 != 0:
            m.append(i)
    return m

In [3]:
divisible_7(2000, 3200)

[2002,
 2009,
 2016,
 2023,
 2037,
 2044,
 2051,
 2058,
 2072,
 2079,
 2086,
 2093,
 2107,
 2114,
 2121,
 2128,
 2142,
 2149,
 2156,
 2163,
 2177,
 2184,
 2191,
 2198,
 2212,
 2219,
 2226,
 2233,
 2247,
 2254,
 2261,
 2268,
 2282,
 2289,
 2296,
 2303,
 2317,
 2324,
 2331,
 2338,
 2352,
 2359,
 2366,
 2373,
 2387,
 2394,
 2401,
 2408,
 2422,
 2429,
 2436,
 2443,
 2457,
 2464,
 2471,
 2478,
 2492,
 2499,
 2506,
 2513,
 2527,
 2534,
 2541,
 2548,
 2562,
 2569,
 2576,
 2583,
 2597,
 2604,
 2611,
 2618,
 2632,
 2639,
 2646,
 2653,
 2667,
 2674,
 2681,
 2688,
 2702,
 2709,
 2716,
 2723,
 2737,
 2744,
 2751,
 2758,
 2772,
 2779,
 2786,
 2793,
 2807,
 2814,
 2821,
 2828,
 2842,
 2849,
 2856,
 2863,
 2877,
 2884,
 2891,
 2898,
 2912,
 2919,
 2926,
 2933,
 2947,
 2954,
 2961,
 2968,
 2982,
 2989,
 2996,
 3003,
 3017,
 3024,
 3031,
 3038,
 3052,
 3059,
 3066,
 3073,
 3087,
 3094,
 3101,
 3108,
 3122,
 3129,
 3136,
 3143,
 3157,
 3164,
 3171,
 3178,
 3192,
 3199]

##### 3. Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [4]:
first_name = input("Input User's first Name:")
Last_name = input("Input User's Last Name:")
Full_Name = Last_name +' '+ first_name
print(Full_Name)

Input User's first Name:Joseph
Input User's Last Name:Fayese
Fayese Joseph

##### 4. Write a Python program to find the volume of a sphere with diameter 12 cm.
###### Formula: V = 4/3 * Ï€ * $r^{3}$

In [5]:
def volofsphere(r):
    import numpy as np
    return (4 * np.pi * r**3)/3

In [6]:
volofsphere(12)

7238.229473870883

## Task 2

##### 1. Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [9]:
values = input("Input the comma-separated values:")
#convert to list
my_list = values.split(",")
print(my_list)

Input the comma-separated values:4, 5, 7, 9, 1
['4', ' 5', ' 7', ' 9', ' 1']

###### 2. Create the below pattern using nested for loop in Python.

In [10]:
val = range(1, 10)
for i in val:
    if i <= 5:
        print("*" * i)
    else:
        print("*" * (len(val) - i + 1))

*
**
***
****
*****
****
***
**
*

###### 3. Write a Python program to reverse a word after accepting the input from the user.

In [11]:
var = input("Input your variable here: ")
#set an open list to capture your result
My_reversed = print(var[::-1])
My_reversed

Input your variable here: AcadGild
dliGdacA

In [20]:
print("WE, THE PEOPLE OF INDIA,\n\t having solemnly resolved to constitute India into aSOVEREIGN!,\n\t\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC\n\t\t and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
 having solemnly resolved to constitute India into aSOVEREIGN!,
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens